@use '../../../app.sass' as *;

body, html
  margin: 0;

.halls
  background: #f3f3f3;
  min-height: 92dvh;

.halls-selector
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.6% 0 0.65% 0;
  background: $secondary-color;

.halls-selector label
  margin-left: 5%;
  color: white;
  font-family: $font-family;
  font-size: $font-primary-size;
  font-weight: $font-weight-primary;

.halls-selector select
  width: 15%;
  margin-left: 1%;
  border: 0.15vw solid $primary-color;
  background: white;
  font-family: $font-family;
  font-size: $font-primary-size;
  font-weight: $font-weight-secondary;

.halls-floors-halls
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  .hall-card
    background: $primary-color;
    cursor: pointer;

  .hall-card:nth-child(12n + 1),
  .hall-card:nth-child(12n + 3), 
  .hall-card:nth-child(12n + 5),
  .hall-card:nth-child(12n + 8),
  .hall-card:nth-child(12n + 10),
  .hall-card:nth-child(12n + 12)
    background: #a2c6f7;
