.custom-schedule-grid
  margin-left: 2%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 30%);
  grid-auto-rows: auto;
  column-gap: 4%;
  row-gap: 8dvh;

.custom-schedule-grid .time
  min-height: 1vw;
  font-size: 0.4vw;

.custom-schedule-grid .day
  min-height: 0.6vw;
  font-size: 0.4vw;

.custom-schedule-grid .class
  font-size: 0.4vw;
