@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font-family: 'Montserrat', sans-serif;

$font-button-size: 1.2rem;
$font-button-weight: 400;

$color-navbar-text: #000;
